/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_parent__PQD85:hover path {
  fill: #00ffff !important;
  opacity: 0.3 !important;
  cursor: pointer;
}

